Repository bluedotiya/web_crawler: changes, and which pre-commit hooks are due for each by the changed paths.
All: integration-test, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/AndrejOrsula/pre-commit-cargo
    rev: 0.5.0
    hooks:
      - id: cargo-check
        args: ["--workspace"]
      - id: cargo-clippy
        args: ["--workspace", "--", "-D", "warnings"]
      - id: cargo-test
        args: ["--workspace"]

  - repo: local
    hooks:
      - id: integration-test
        name: integration test (build + deploy + verify)
        entry: ./dev.sh
        language: script
        files: ^(shared|feeder|manager)/
        pass_filenames: false

      - id: frontend-lint
        name: frontend lint & type-check
        entry: bash -c 'cd frontend && npm run lint && npm run type-check'
        language: system
        files: ^frontend/
        pass_filenames: false

feat: add frontend service with Docker and Kubernetes configuration
  .github/workflows/docker-publish-master.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  dev.sh
  feeder/src/job.rs
  feeder/src/main.rs
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/components/GraphView.tsx
  frontend/src/pages/CrawlDetail.tsx
  frontend/src/pages/CrawlList.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/api.ts
  manager/Dockerfile
  manager/src/main.rs
  manager/src/models/crawl.rs
  manager/src/services/crawl_service.rs
  manager/src/services/graph_service.rs
  web-crawler/Chart.lock
  web-crawler/Chart.yaml
  web-crawler/charts/frontend/Chart.yaml
  web-crawler/charts/frontend/templates/_helpers.tpl
  web-crawler/charts/frontend/templates/deployment-file.yaml
  web-crawler/charts/frontend/templates/expose-service.yaml
  web-crawler/charts/frontend/values.yaml
  web-crawler/values.yaml
Due: integration-test, frontend-lint

feat(docs): Add comprehensive API reference documentation
  README.md
  docs/api-reference.md
  docs/architecture.md
  docs/deployment.md
  docs/development.md
  docs/images/crawl-detail-progress.png
  docs/images/crawl-list.png
  docs/images/crawl-stats.png
  docs/images/dashboard.png
  docs/images/graph-visualization.png
  docs/images/new-crawl.png
  docs/neo4j-graph-model.md
Due: none

fix(schema): remove unused index, add composite index for exact URL lookups
  shared/src/schema.rs
Due: integration-test

feat(icon): replace Vite icon with Cobweb icon in index.html
  frontend/index.html
  frontend/public/cobweb.svg
  frontend/public/vite.svg
Due: frontend-lint

fix: address PR #17 review comments
  Cargo.toml
  README.md
  docs/api-reference.md
  docs/development.md
  docs/neo4j-graph-model.md
  feeder/Cargo.toml
  feeder/src/health.rs
  frontend/nginx.conf
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  manager/Cargo.toml
  manager/src/main.rs
  manager/src/models/crawl.rs
  manager/src/routes/health.rs
  manager/src/routes/ws.rs
  manager/src/services/crawl_service.rs
  shared/Cargo.toml
  web-crawler/charts/feeder/values.yaml
  web-crawler/charts/frontend/values.yaml
  web-crawler/charts/manager/values.yaml
  web-crawler/values.yaml
Due: integration-test, frontend-lint

refactor(svg): simplify SVG structure and improve readability
  frontend/public/cobweb.svg
Due: frontend-lint

fix(frontend): disable readiness probe on static nginx container
  frontend/nginx.conf
  web-crawler/charts/frontend/values.yaml
Due: frontend-lint

fix(frontend): remove unused /readyz proxy from vite dev config
  frontend/vite.config.ts
Due: frontend-lint

fix(docs): remove outdated information about robots.txt handling
  README.md
Due: none

docs: add cancelled to status filter parameter docs
  docs/api-reference.md
Due: none

fix: validate crawl depth (1-5) and scope URL dedup by crawl_id
  docs/api-reference.md
  feeder/src/job.rs
  manager/src/routes/crawl.rs
Due: integration-test
